.accommodation__tags-section {
    display: flex;
}

.accommodation__tags {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 10em;
    height: 2em;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
}