

.accommodation__content {
    display: flex;
    justify-content: space-between;
    height: 10em;
}

.accommodation__content h4 {
    font-weight: 500;
    font-size: 1.125em;
}

.accommodation__content h1 {
    font-weight: 500;
    font-size: 2.25em;
}

.accommodation__details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.accommodation__title {
    display: flex;
    flex-direction: column;
    color: var(--color-primary)
}

.accommodation__title h1 {
    margin-bottom: .1em;
}

.accommodation__tags-section {
    display: flex;
}

.accommodation__tags {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 10rem;
    height: 2rem;
    text-align: center;
    border-radius: 10px;
    font-size: 14px;
}

.accommodation__host-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--color-primary)
}

.accommodation__name{
    overflow-wrap: break-word;
    width: 5em;
    text-align: end;
}

.accommodation__host {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 15em;
}

.accommodation__host img {
    height: 4em;
    width: 4em;
    object-fit: cover;
    border-radius: 100%;
    margin-left: .5em;
}

.accommodation__accordion-section {
    display: flex;
}

.accommodation__accordion-section > article {
    flex: 1;
}

.accommodation__accordion-section > article:first-child {
    margin-right: 10em;
}

.accommodation__equipements-list {
    list-style-type: none;
}

.rating {
    font-size: 1.875em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.rating > span {
    margin-left: .5em;
}

.rating--full {
    color: var(--color-primary)!important;
}

.rating--empty {
    color: #e3e3e3!important;
}