/* Error Page */

.error{
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

  
  }
  
  .error__hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .error__title{
    font-size: 18rem;
  }
  
  .error__text {
    font-size: 2.25rem;
  }
  
  .error__link {
    font-size: 1.25rem;
    margin: 1rem;
  }