/* Error Page */

.error{
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
  }
  
  .error__hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .error__link {
    margin: 1rem;
  }

  @media only screen and (max-width: 912px){
    .error{
      justify-content: space-evenly;
      height: 50vh;
      text-align: center;
    }
  }

  @media only screen and (max-width: 768px){

    .error__text{
      width: 80%;
    }

    .error__hero{
      justify-content: center;
    }
  }

  @media only screen and (max-width: 720px){

  
  }