a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.container {
  margin: 2rem 6rem;
}

.hero__container {
    margin: 0 6rem;
}

@media only screen and (max-width: 912px){
  .container {
    margin: 2rem;
  }

  .hero__container {
    margin: 0 2rem;
  }
}

@media only screen and (max-width: 720px){
  .container {
    margin: 1.5rem;
  }

  .hero__container {
    margin: 0 1.5rem;
  }
}