a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.container {
  margin: 2em 6em;
}

.hero__container {
    margin: 0 6em;
}

@media only screen and (max-width: 480x){
  .container {
    margin: 0 2em;
  }
}