/* Home Page */

.home-hero {
    position: relative;
    background: url(../eric-muhr-P_XxsdVgtpQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    height: 14em;
    border-radius: 25px;
  }
  
  .home-hero--overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 25px;
    top: 0;
    left: 0;
    opacity: .3;
    background: var(--color-black);
    z-index: 1;
  }
  
  .home-hero__text {
    color: var(--color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-weight: 400;
    font-size: 3em;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
  }
  
  .card__section {
    background-color: var(--color-gray);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 25px;
    padding: 3em;
    gap: 3em;
    justify-items: center;
  }
  
  .card {
    position: relative;
    width: 21.25em;
    height: 21.25em;
  }
  
  
  .card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .card__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    background: var(--color-linear);
    z-index: 1;
  }
  
  .card__text {
    color: var(--color-white);
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 1px;
    width: 70%;
  }
  