/* Navigation */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav__logo {
    height: 4.25rem;
  }
  
  .nav__list {
    display: flex;
    list-style-type: none;
    color: var(--color-primary);
  }
  
  .nav__list > li {
    margin-left: 4rem;
    cursor: pointer;
  }
  
  .nav__list > li:hover {
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 912px){
    .nav__logo {
      height: 3rem;
    }
  }

  @media only screen and (max-width: 720px){
    .nav__list > li {
      margin-left: 2rem;
    }
  }

  @media only screen and (max-width: 280px){
    .nav__logo {
      height: 2rem;
    }
  }