/* variables */

:root {
    --color-primary: #ff6060;
    --color-white: #fff;
    --color-black: black;
    --color-gray: #F6F6F6;
    --color-linear: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }